.footer_menu{
  height: 69px;
  background: $optionsBgColor;
  position: fixed;
  bottom: 0;
  width: 105%;
  left: -10px;
  .tool{
    float: left; 
    color: $optionsTextColor;
    padding: 20px;
    border-right: 1px solid rgba(160, 160, 160, 0.42);
    font-size: 20px;
    cursor: pointer;
    .icon{
      margin-right: 10px;
    }
  }
}

.header_options{
  background: $optionsBgColor;
  color: $optionsTextColor;
}