<div class="home ">
  <div class="title_section">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-xs-12 text-center">
          <div class="title"> Pixel Moon</div>
        </div>
        <div class="col-xs-12 text-center">
          <div class="btn btn-success start" ng-click="start()">
            TRY IT!
        </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="features_section">
     <div class="container-fluid">
      <div class="row ">
        <div class="col-xs-4 text-center">
          <div class="title">Draw</div>
          <div class="explanation">
            Draw pixel art images, easily.
          </div>
        </div>

        <div class="col-xs-4 text-center">
          <div class="title">Layers</div>
          <div class="explanation">
            Use layers 
          </div>
        </div>

        <div class="col-xs-4 text-center">
          <div class="title">Share</div>
          <div class="explanation">
            Share your creations!
          </div>
        </div>

      </div>
    </div>

  </div>
</div>