<div class="" ng-controller="LayersCtrl">
  <div class="layers_box" ng-show="showingLayers">
    

      <h4>Layers</h4>
      <h5>Currently selected : {{activeLayer.name}}</h5>
      <div class="edition_layer">
        <div class="row">
          <div class="col-xs-12">
            <input type="text" ng-model="activeLayer.name" value="{{activeLayer.name}}" >
          </div>
      </div>
      <div class="layer">
        <div class="row" ng-click="setActiveLayer(layer)" ng-class="{'active': activeLayer == layer}"ng-repeat="layer in image.layers">
          
          <div class="col-xs-8">
            <span class="name"  >{{layer.name}}</span>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-eye-open" ng-click="showLayer(layer)" ng-show="layer.visible == false"></span>
            <span class="glyphicon glyphicon-eye-close" ng-click="hideLayer(layer)" ng-show="layer.visible == true"></span>
          </div>
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-trash" ng-click="deleteLayer(layer)"></span>
          </div>

        </div>
      </div>
      <div class="controls">
        <div class="btn btn-primary" ng-click="addLayer()">Add Layer</div>
      </div>
    

  </div>
</div>