<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">pixelartio</h3>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6 layers">
      <h4>Layers</h4>
      <h5>Currently selected : {{currentLayer.name}}</h5>
      <div class="edition_layer">
         <input type="text" ng-model="currentLayer.name" value="{{currentLayer.name}}" >
      </div>
      <div class="list-group">
        <div class="list-group-item" ng-click="setCurrentLayer(layer)" ng-class="{'active': currentLayer == layer}"ng-repeat="layer in image.layers">
          <span class="name"  >{{layer.name}}</span>
          <span class="glyphicon glyphicon-eye-open" ng-click="showLayer(layer)" ng-show="layer.visible == false"></span>
          <span class="glyphicon glyphicon-eye-close" ng-click="hideLayer(layer)" ng-show="layer.visible == true"></span>
          <div class="layer_contros">
            <span class="glyphicon glyphicon-trash" ng-click="deleteLayer(layer)"></span>
          </div>
        </div>
      </div>
      <div class="controls">
        <div class="btn btn-primary" ng-click="addLayer()">Add Layer</div>
      </div>
    </div>
    <div class="col-xs-6 picker" ng-controller="PickerCtrl">
      <h4> Current color: {{currentColor}} <span class="glyphicon glyphicon-th" style="color: {{currentColor}}"></span></h4>
      <div class="controls">
        <div class="btn btn-primary" ng-click="generateRandomColor()">Generate Random Color</div>
      </div>
    </div>

  </div>
</div>

<div class="row marketing">
  <div class="canvas_container" >
    <canvas id="canvasLayer_{{$index}}" ng-repeat="layer in image.layers" class="canvas_layer" ng-click="paint(currentLayer, $event, $index)"></canvas>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
