<div class="container-fluid">
  <div ng-include src="'views/editor/header_options.html'"></div>
  <div class="row">
    <div class="canvas_container col-xs-12 {{getTool()}}" ng-class="" >
      <canvas id="canvasLayer_{{$index}}" width="{{layer.size.x}}" height="{{layer.size.y}}" ng-repeat="layer in image.layers" class="canvas_layer" ng-click="paint($event, $index)"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="btn btn-primary" ng-click="generateImage()">Generate Normal Image!</div>
      <div class="btn btn-primary" ng-click="generateHeatMap()">Generate Heat Map!</div>
      <div class="btn btn-primary" ng-click="generateHeatMapNpm()">Generate Heat Map Npm !</div>
    </div>
    <div class="col-xs-6" ng-show="imageSrc">
      Generated Image: 
      <img ng-src="{{imageSrc}}">
    </div>
  </div>

   <div ng-include src="'views/layers.html'"></div>
   <div ng-include src="'views/footer_menu.html'"></div>
</div>